name: 'Deploy Infrastructure'

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  # Deployment to DEV
  dev_plan:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/terraform-plan-reusable.yml
    with:
      environment: dev
      cloud_provider: azure # or aws
      working_directory: ./infra
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_BACKEND_CONFIG: ${{ secrets.TF_BACKEND_CONFIG_DEV }}

  dev_apply:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/terraform-apply-reusable.yml
    with:
      environment: dev
      cloud_provider: azure
      working_directory: ./infra
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_BACKEND_CONFIG: ${{ secrets.TF_BACKEND_CONFIG_DEV }}

  # Deployment to PROD (requires approval via GitHub Environment)
  prod_plan:
    needs: [dev_apply]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/terraform-plan-reusable.yml
    with:
      environment: prod
      cloud_provider: azure
      working_directory: ./infra
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_BACKEND_CONFIG: ${{ secrets.TF_BACKEND_CONFIG_PROD }}

  prod_apply:
    needs: [prod_plan]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/terraform-apply-reusable.yml
    with:
      environment: prod
      cloud_provider: azure
      working_directory: ./infra
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_BACKEND_CONFIG: ${{ secrets.TF_BACKEND_CONFIG_PROD }}
